@model Store.Models.SellerFilterViewModel

@{
    ViewBag.Title = "Список продавцов";
}

<h2>Список продавцов</h2>

<br />
@using (Html.BeginForm("GetSellers","Seller", FormMethod.Get, new {@class="form-inline", role="form" }))
{
    <div style= "background-color:rgba(144, 144, 144, 0.19); margin:5px; border: 2px solid rgba(182, 182, 182, 0.40); border-radius: 15px; padding: 6px; padding-top:8px;">
        <div class="form-group col-md-offset-2">
            @Html.Label("Код страны:", new {@class="control-label col-md-6" })
            <div class="col-md-6">
                @Html.DropDownList("country", Model.Country as SelectList, new {@class="form-control"})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Пользователь:", new {@class="control-label col-md-5" })
            <div class="col-md-7">
                @Html.DropDownList("user_code", Model.User as SelectList, new {@class="form-control"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-6">
                <input type="submit" class="btn btn-info" value="Фильтровать" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Добавить", "CreateSeller")
</p>
<table class="table">
    <tr>
        <th>
            Имя продовца
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Код страны
        </th>
        <th>
            Код пользователя
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Sellers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditSeller", new { id=item.SellerId }) |
            @Html.ActionLink("Удалить", "DeleteSeller", new { id=item.SellerId })
        </td>
    </tr>
}

</table>
