@model IEnumerable<Store.Domain.Models.User>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Добавить", "CreateUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Create_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Create_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.Name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "EditUser", new { id=item.UserId }) |
            @Html.ActionLink("Удалить", "DeleteUser", new { id=item.UserId })
        </td>
    </tr>
}

</table>
