@model Store.Models.Country

@{
    ViewBag.Title = "Удаление страны";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите удалить данную страну?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continent_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-info" /> |
            @Html.ActionLink("Вернуться назад", "GetCountries")
        </div>
    }
</div>
